body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* Samba Background: Brazil Flag Colors */
    background: linear-gradient(135deg, #FFDF00 0%, #009B3A 100%); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 450px;
    text-align: center;
    border-bottom: 10px solid #002776; /* Brazil Blue Accent */
}

h1 { color: #009B3A; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; }

#question-text { font-size: 1.2rem; font-weight: 700; color: #002776; margin-bottom: 20px; }

.btn {
    background: #002776;
    color: white;
    border: none;
    padding: 12px;
    margin: 6px 0;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover { background: #001b52; transform: translateY(-2px); }

.correct { background: #009B3A !important; }
.wrong { background: #d90429 !important; }

#next-btn {
    margin-top: 15px;
    background: #FFDF00;
    color: #002776;
    border: 2px solid #002776;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 800;
    cursor: pointer;
}